body {
    background: rgb(70, 142, 236)
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    padding: 8px;
    font-size: 1.5em;
}

div#foto > img {
    border-radius: 50%; 
    width: 250px; 
    height: 250px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

/* Cores:
        manhã: #f5f39886
        tarde: #da9e3186
        noite: #2f3186 */
        
        
       /*  body {
            background-color: #2f863b;
        }

        h1 {
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            color: white;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.562);
        }

        div#img {
            border-radius: 50%;
        }

        div#fora {
            display: block;
            margin: auto;
            border-radius: 50px 0px;
            background-color: white;
            width: 350px;
            height: 543px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
        }

        div#fora > p {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            padding: 20px;
            font-size: 1.3em;
        }

        div#fora > div#img {
            width: 300px;
            height: 300px;
            margin: auto;
            margin-top: 80px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.74);
        }

        body > p {
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
            margin-top: 3px;
            font-style: italic; */
        
