body {
    background-image: linear-gradient( to bottom, rgb(70, 142, 236), rgba(53, 128, 53, 0.733)) ;
    font-family: Arial, Helvetica, sans-serif;
    height: 97vh;
}

header {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    padding: 8px;
    font-size: 1.5em;
}

div#solicitacoes {
    text-align: start;
}

div#foto > img {
    border-radius: 50%; 
    width: 250px; 
    height: 250px;
}

section > div#img > img#imagem {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid 1px black;
    
}

section > div#img > img#imagem:hover {
    transform: scale(1.15);
}

section > div#dados > p {
    text-align: start;
    margin: 10px;
}

section > div#dados > p#botao {
    text-align: center;
}

section > div#select > select#seltab {
    width: 50%;
    height: 213px;
    display: flex;
    justify-content: flex-start;
    padding: 0px;
}

select#seltab > option {
    margin: 3.7px;
}

div#dados > p#botao > input#botao {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    background-color: rgb(86, 86, 201);
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 10px 10px;
}

div#botao > input#botao {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    background-color: rgb(86, 86, 201);
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 10px 10px;
}

div#botao > input#botao:hover {
    background-image: linear-gradient(to right, rgb(86, 86, 201), rgba(0, 0, 0, 0.288));
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 10px;
}